{% extends 'base/base.html' %}
{% load pcap_tt %}
{% block content %}

    <div>
        <form action="{% url 'pcap_upload' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% include "base/snippets/form_snippet.html" %}
            <small class="text-muted">When you submit, the PCAP will be parsed, which may take a while, depending on
                file size. {% if packets %}Uploading again will replace the current packets.{% endif %}</small>
        </form>
    </div>
    <div>
        {% if packets %}
            {{ packets }} packets analyzed.
        {% endif %}
    </div>
    {% if warnings and packets %}
        <div>
            <ul>
                {% for w in warnings %}
                    <li>{{ w }}</li>
                {% endfor %}
            </ul>
            <small class="text-muted">Did we miss something? Open an issue on <a
                    href="https://github.com/TheToddLuci0/iselab_debugger">GitHub</a>.</small>
        </div>
    {% elif packets %}
        <div>
            <p>No warnings found.</p>
            <small class="text-muted">Did we miss something? Open an issue on <a
                    href="https://github.com/TheToddLuci0/iselab_debugger">GitHub</a>.</small>

        </div>
    {% endif %}

{% endblock %}